#artist-input,#song-input,#song-search{
    background: yellow;
    font-size: 22px;
}

#song-search{
  background: violet;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 700px;
    /* height: 500px; */
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    bottom: 1%;
    /* left: 50%; */
    /* margin-left: -80px; */
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
  /*   content: ""; */
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  #word3{
    background: lavender;
    color: black;
    font-size: 22px;
    text-align: center;
    white-space: pre;
  }

  label{
    font-size: 22px;
  }
